@font-face {
    font-family: "Retro";
    src: url("../fonts/retro-gaming.ttf") format("truetype");
}

body {
    font-family: "Retro";
}

.text {
    position: absolute;
    color: black;
    margin: 0;
}

.right {
    right: 0;
}

.best {
    color: gold;
}

canvas {
    position: absolute;
    display: block;
    border: 2px solid black;
    background-color: black;
}

#pause {
    color: white;
}

#game {
    position: absolute;
    width: 60vw;
    top: 0;
    left: 0;
    height: 100%;
    /*border: 2px solid blue;*/
}

#game_inner {
    position: absolute;
    width: 66.7vh;
    top: 0;
    height: 100%;
    /*border: 2px solid red;*/
}

#panel {
    position: absolute;
    left: 60vw;
    width: 40vw;
    height: 100%;
    top: 0;
    /*border: 2px solid green;*/
}

#panel_inner {
    position: absolute;
    left: 0;
    width: 80%;
    top: 10%;
    height: 80%;
    background-color: rgb(60, 60, 60);
}

#panel_tab_row {
    position: absolute;
    left:0;
    width: 100%;
    height: 10%;
    background-color: rgb(30, 30, 30);
    font-size: 0;

    display: flex;
    justify-content: space-evenly;
}

.panel_tab {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: large;
    text-align: center;
    color: white;
    width: 25%;
    height: 100%;
}

#panel_scores{
    position: absolute;
    top: 10%;
    height: 90%;
    width: 100%;
}

#scores_table{
    color: white;
    width: 100%;
    height: 100%;
    font-size: x-large;
    border-collapse: collapse;
    table-layout: fixed;
}

#scores_table .rank,
#scores_table .score {
    width: 10%;
    text-align: center;
    padding-right: 5px;
}

#scores_table .name {
    width: 80%;
}

.active {
    background-color: rgb(60, 60, 60);
}

#score_submit {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 20%;
    border: 2px solid rgb(30, 30, 30);
    background-color: rgb(60, 60, 60);
    opacity: 0.75;
    color: white;
}

.hidden {
    display: none !important;
}

.score_submit_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    font-size: large;
}

.score_submit_entry {
    display: flex;
    align-items: center;
    height: 50%;
}

.score_submit_entry span {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score_submit_entry input {
    flex-grow: 3;
}

.score_submit_controls {
    display: flex;
    height: 25%;
}

.score_submit_controls button {
    flex-grow: 1;
}

.hoz-cent {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.vert-cent {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.full-cent {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}